<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>render_template</title>
</head>
<body>
    <h2>渲染模板</h2>
    {{ my_int }}
    <br>
    {{ my_str }}
    <br>
    {{ my_list }}
    <br>
    {{ my_dict }}
    <hr>
    <h2>列表数据获取</h2>
    {{ my_list[0] }}
    <br>
    {{ my_list.1 }}
    <hr>
    <h2>字典数据获取</h2>
    {{ my_dict['name'] }}
    <br>
    {{ my_dict.age }}
    <hr>
    <h2>算术运算</h2>
    {{ my_list.0 + 10 }}
    <br>
    {{ my_list[0] + my_list.1 }}
</body>
</html>